body {
    background: #222222;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    color: white;
}
header {
    z-index: 101;
    position: relative;
}
nav {
    position: fixed;
    background-color: #181818;
    display: block;
    width: 100%;
}
nav #logo {
    background: url("../img/logo.png") no-repeat center center;
    background-size: 45px;
    height: 45px;
    width: 45px;
    display: inline-block;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}
nav ul {
    float: right;
    margin: 2.4rem 0.5rem 2rem 0rem;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 3rem;
}
.nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}
.nav li a:hover {
    text-decoration: none;
    font-weight: 500;
}
nav li a:focus {
    text-decoration: none;
    font-weight: 300;
    color: white;
}
footer {
    background-color: #181818;
    display: block;
    width: 100%;
    position: relative;
    height: 30rem;
    Top: 4000rem;
}
h1 {
    font-family: 'Gruppo','Helvetica', 'Arial', cursive;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}
h2 {
    font-family: 'Gruppo','Helvetica', 'Arial', cursive;
    color: white;
    font-size: 1.8rem;
}
#name {
    letter-spacing: 1.5rem;
    text-align: center;
    margin: 48vh 8% 0 8%;
    font-size: 3rem;
}
#function {
    text-align: center;
    margin: 3vh 8% 32vh 8%;
}
#next {
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    border: solid white 0.5px;
    padding: 0.8rem 0;
    text-align: center;
}
#next:hover {
    text-decoration: none;
    background-color: rgba(256,256, 256,0.4);
}
#next:focus {
    text-decoration: none;
}
#background {
    background: url("../img/background.jpg") no-repeat center center;
    height: 100vh;
}
#about {
    height: 100vh;
}
#profile {
    margin-top: 30vh;
}
#profilepicture {
    height: 40vh;
    background: url("../img/profile.png") no-repeat center center;
    background-size: 50vh;
    margin-right: 0;
}
#profiletext {
    background-color: rgba(1,1,1,0.3);
    height: 40vh;
    padding: 4rem;
    margin-left: 0;
}
#profiletext h1 {
    text-align: center;
    letter-spacing: 1.2rem;
}
#profiletext h2 {
    margin-top: 1rem;
    text-align: center;
}
#profiletext p {
    margin-top: 4rem;
    font-weight: 300;
}
.screenshot {
    height: 60vh;
    margin-top: 14vh;
}
#screenshot1 {
    background: url("../img/screenshot1.jpg") no-repeat center top;
    background-size: 100%;
}
#screenshot2 {
    background: url("../img/screenshot2.jpg") no-repeat center top;
    background-size: 100%;
}
#screenshot3 {
    background: url("../img/screenshot3.jpg") no-repeat center top;
    background-size: 100%;
}
.websitetext {
    height: 20vh;
    background-color: rgba(1,1,1,0.3);
    padding: 1rem 2rem;
}
.websitetext h1 {
}
.websitetext h2 {
    text-align: right;
}
.websitetext p {
}