.navbar-brand img {
    margin-top: -10px;
}
body {
    background-color: #222222;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    color: white;
}
.navbar {
    background-color: #181818;
}
.footer {
    background-color: #181818;
}
.page {
    padding-top: 50px;
}
h1 {
    font-family: 'Gruppo','Helvetica', 'Arial', cursive;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}
h2 {
    font-family: 'Gruppo','Helvetica', 'Arial', cursive;
    color: white;
    font-size: 1.8rem;
}
.nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}
.nav li a:hover {
    text-decoration: none;
    font-weight: 300;
    color: #00a0d2;
}
nav li a:focus {
    text-decoration: none;
    font-weight: 300;
    color: #00a0d2;
}